:root {
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);
  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);

  /* font sizes*/
  /* --fs--2: clamp(0.7813rem, 0.7746rem + 0.0282vw, 0.8rem);
  --fs--1: clamp(0.9375rem, 0.9155rem + 0.0939vw, 1rem);
  --fs-0: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);
  --fs-1: clamp(1.35rem, 1.2752rem + 0.3192vw, 1.5625rem);
  --fs-2: clamp(1.62rem, 1.5027rem + 0.5005vw, 1.9531rem);
  --fs-3: clamp(1.944rem, 1.7689rem + 0.7473vw, 2.4414rem);
  --fs-4: clamp(2.3328rem, 2.0796rem + 1.0801vw, 3.0518rem);
  --fs-5: clamp(2.7994rem, 2.4418rem + 1.5254vw, 3.8147rem); */
  --fs--4: 14px;
  --fs--2: 16px;
  --fs-0: 18px;
  --fs-2: 20px;
  --fs-4: 22px;
}

@font-face {
  font-family: "DMSans";
  src: local("DMSans"), url(assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "DMSans Italic";
  src:
    local("DMSans Italic"),
    url(assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* some people prefer * { margin: 0 } */
/* I prefer line-height: 1.6 */
body {
  margin: 0;
  line-height: 1.5;
  font-family: DMSans, sans-serif;
  font-size: var(--fs-0);
  font-weight: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.attribution {
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.bento-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  border-radius: 8px;
  /* border: 1px solid black; */
}

.card-hero {
  color: var(--White);
  background-color: var(--Purple-500);
  text-align: center;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-hero .card-heading {
  font-size: var(--fs-2);
}

.card-heading {
  font-size: var(--fs-2);
}

.card-text {
  font-size: var(--fs--4);
}

.highlight {
  color: var(--Yellow-500);
}

.card-accounts {
  padding: 0.75rem;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-schedule-consistent {
  background-color: var(--Yellow-500);
  padding: 0.2rem 1.5rem 0 1.5rem;
  overflow: hidden;
}

.card-schedule-consistent .card-image {
  width: 50%;
  transform: translate(0, 10px);
}

.card-schedule-social {
  background-color: var(--Purple-100);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-grow-followers {
  color: hsl(0, 0%, 100%);
  background-color: var(--Purple-500);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  text-align: center;
}

.card-audience-growth {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
}

.card-audience-growth .card-heading {
  font-size: var(--fs-4);
}

.card-audience-growth .card-text {
  margin: 0;
}

.card-audience-growth .card-image {
  width: 50%;
}

.card-create-post {
  background-color: var(--Yellow-100);
  padding: 1rem 2rem;
}

.card-create-post .highlight {
  color: var(--Purple-500);
  font-family: "DMSans Italic";
}

.card-create-post .card-image {
  width: 50%;
}

.card-ai-content {
  background-color: var(--Yellow-500);
  padding: 1rem;
}

.card-ai-content .card-image {
  width: 70%;
}

@media (min-width: 1110px) {
  main {
    flex: 1;
    min-height: 0;
    width: 80%;
    margin-inline: auto;
  }

  .bento-grid {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "post hero hero social social"
      "ai accounts consistent social social"
      "ai growth followers followers followers";
    padding: 1rem;
    gap: 1rem;
  }

  .card {
    min-height: 0;
    min-width: 0;
    overflow: hidden;
  }

  .card-hero {
    grid-area: hero;
    margin-block: auto;
    img {
      width: 30%;
    }
  }

  .card-hero .card-heading {
    font-size: 35px;
    margin: 0;
  }

  .card-hero .italic {
    font-family: "DMSans Italic";
  }

  .card-accounts {
    grid-area: accounts;
  }

  .card-schedule-consistent {
    grid-area: consistent;
  }

  .card-schedule-social {
    grid-area: social;

    img {
      width: 70%;
    }
  }

  .card-grow-followers {
    grid-area: followers;
    display: flex;
    flex-direction: row;
    padding: 1rem 1.5rem;
    img {
      width: 35%;
    }
  }

  .card-grow-followers .card-heading {
    font-size: 26px;
    font-weight: normal;
    /* width: 30%; */
  }

  .card-audience-growth {
    grid-area: growth;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-audience-growth .card-heading {
    font-size: 50px;
    padding: 0;
    margin: 0;
  }

  .card-create-post {
    grid-area: post;
  }

  .card-create-post .card-heading {
    font-size: 18px;
  }

  .card-create-post .card-image {
    width: 100%;
  }

  .card-ai-content {
    grid-area: ai;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-ai-content .card-heading {
    font-size: 26px;
    width: 80%;
  }

  .card-ai-content .card-image {
    width: 100%;
  }
}
